{# src/Codopenex/RssAggregatorBundle/Resouces/views/Feed/show.html.twig #}
{% extends 'XperedonBlogBundle::layout.html.twig' %}

{% block title %}RSS Feed Aggregator{% endblock %}

{% block body %}
	{% for item in items %}
        <article class="feed">
            <header>
                <h2><a href="{{ item.link }}" />{{ item.title }}</a></h2>
            </header>
            <div>
                <p>{% autoescape false %}{{ item.description }}{% endautoescape %}</p>
            </div>
        </article>
    {% else %}
    	<p>There are no items in this feed.</p>
	{% endfor %}
{% endblock %}
