{# src/Codopenex/RssAggregatorBundle/Resouces/views/Feed/showfeeds.html.twig #}
{% extends 'XperedonBlogBundle::layout.html.twig' %}

{% block title %}RSS Show Feeds{% endblock %}

{% block body %}
	{% for feed in feeds %}
        <article class="feed">
            <header>
                <h2><a href="{{ path('CodopenexRssAggregatorBundle_feed_show', { 'url': feed.url }) }}">{{ feed.title }}</a></h2>
            </header>
            <div>
            	<img src="{{ feed.ImageUrl }}" />
                <p>{{ feed.description }}</p>
            </div>
        </article>
    {% else %}
    	<p>There are no items in this feed.</p>
	{% endfor %}
{% endblock %}
